#package.xml file is recreated on the fly by Copado, no need to track unnecessary changes of this file
package.xml

#somestuff

installedPackages/*
.idea/*
*.iml

applications/copado__*
classes/copado__*
customPermissions/copado__*
dashboards/copado__*
email/copado__*
triggers/copado__*
pages/copado__*
workflows/copado__*
objects/copado__*
objectTranslations/copado__*
layouts/copado__*
reports/copado__*
reportTypes/copado__*
sharingRules/copado__*
staticresources/copado__*
permissionsets/copado__*
tabs/copado__*

#profiles and permission sets are complex Files. If your Org's metadata and Git are in sync,
#you can track incremental changes on Profiles and Permission sets using Copado "commit files" functionality.
#Otherwise ignore profiles and permission sets until you are ready for it.
#You can deploy profiles and permission sets using Copado Deployer steps: Full profiles and Full Permission sets.
# Below is how to ignore them

# profiles/*
# permissionsets/*

translations/*
objectTranslations/*

#Sites which has Domain mapping has environment specific information.
#Make sure you setup Copado Environment Variables to make sites config files environment agnostic.
#Until the above is achieved, you can ignore them as follows

sites/*
siteDotComSites/*
/.idea/
